# API spezifische Konfigurationen
API_URL=<API_BASE_URL>          # Basis-URL der API (z. B. https://api.example.com/)
API_TOKEN=<YOUR_API_TOKEN>      # Der API-Token zur Authentifizierung
API_USERNAME=<API_USERNAME>     # Der Benutzername für die API
API_PASSWORD=<API_PASSWORD>     # Das Passwort für die API
API_CID=<YOUR_API_CID>          # Kunde-/Benutzer-ID für den Zugriff
APP_Port=<YOUR_APP_PORT>        # Port for the Application